﻿
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Sistema para la Gestión de una Escuela de Conductores</h1>
    <p> Página principal de operaciones internas</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Alumnos", "Index", "Alumnos", new { area = "Interna" }, null)</h2>
        <p>
            Relación de alumnos registrados en la escuela, crear un nuevo alumno y modificar existentes.
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Escuelas", "Index", "Escuelas", new { area = "Interna" }, null)</h2>
        <p>Relación de los locales de la escuela, crear un nuevo local y modificar existentes.</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Matrículas", "Index", "Matriculas", new { area = "Interna" }, null)</h2>
        <p>Relación de las matrículas de la escuela, crear nueva matrícula y modificar existentes.</p>
    </div>
</div>