﻿@model IEnumerable<ProyectoSIGEM.Areas.Externa.Models.MatriculasListaViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            N° Matrícula
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EscuelaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EscuelaEmisora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Curso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostoTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FecIngreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MatriculaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EscuelaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EscuelaEmisora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Curso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostoTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FecIngreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacion)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
