﻿@model ProyectoSIGEM.Areas.Externa.Models.BuscaMatriculasViewModel
<br />
<br />
<h2>Matrículas por Alumno</h2>
<br />
@using (Ajax.BeginForm("ConsultarMatriculas", "Matriculas", new AjaxOptions
{
    HttpMethod = "Get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "MatriculaListContainer"
}, new
{
    id = "ConsultarMatriculasForm",
    @class = "form-horizontal"
}))
{
    <div class="form-group col-sm-10">
        <input type="text" placeholder="Buscar Matriculas..."
               name="Busqueda" class="form-control" value="@Model.Busqueda" />
    </div>
    <div class="col-sm-2">
        <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-search"></i></button>
    </div>

}
<div id="MatriculaListContainer">
    @if (Model.Matriculas.Any())
    {
        @Html.Partial("_ListaMatric", @Model.Matriculas)
    }
</div>
<div id="RenuevaModalFormContainer" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="checkInFormLabel" aria-hidden="True"></div>
@section Scripts {
    @Scripts.Render("~/bundles/unobtrusive")
}


