﻿@model IEnumerable<ProyectoSIGEM.Areas.Interna.Models.AlumnosListaViewModel>


<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            Documento de Identidad @*@Html.DisplayNameFor(model => model.DocumentoIdentidad)*@
        </th>
        <th>
            Teléfono
        </th>
        <th>Dirección</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentoIdentidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DireccionCalle)
            </td>
            <td>
                <div class="btn-group">
                    <button title="Acción" class="btn dropdown-toggle btn-xs" data-toggle="dropdown">
                        <span><i class="glyphicon glyphicon-cog"></i><span class="caret"></span> </span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href=@Url.Action("Editar", "Alumnos", new {  id = item.AlumnoId })><i class="glyphicon glyphicon-edit"></i>&nbsp;Editar</a>
                        </li>
                        <li>
                            @**@
                            <a href=@Url.Action("Eliminar", "Alumnos", new { id = item.AlumnoId })>
                                <i class="glyphicon glyphicon-remove">
                                </i>&nbsp;Eliminar
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    }

</table>
