﻿@model ProyectoSIGEM.Areas.Interna.Models.BuscaAlumnosViewModel
<h2>Alumnos</h2>

<div>
    @Html.ActionLink("Registrar Nuevo Alumno", "Nuevo", "Alumnos", new { area = "Interna" }, null)
</div>

<br />
@using (Ajax.BeginForm("ConsultarAlumnos", "Alumnos", new AjaxOptions
{
    HttpMethod = "Get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "AlumnoListContainer"
}, new
{
    id = "ConsultarAlumnosForm",
    @class = "form-horizontal"
}))
{
    <div class="form-group col-sm-10">
        <input type="text" placeholder="Buscar Alumnos..."
               name="Busqueda" class="form-control" value="@Model.Busqueda" />
    </div>
    <div class="col-sm-2">
        <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-search"></i></button>
    </div>

}
<div id="AlumnoListContainer">
    @if (Model.Alumnos.Any())
    {
        @Html.Partial("_ListaAlumnos", @Model.Alumnos)
    }

</div>
<div id="RenuevaModalFormContainer" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="checkInFormLabel" aria-hidden="True"></div>
@section Scripts {
    @Scripts.Render("~/bundles/unobtrusive")
}


