﻿@model IEnumerable<ProyectoSIGEM.Areas.Interna.Models.MatriculasListaViewModel>


<table class="table">
    <tr>
        <th>
            N° Matrícula
        </th>
        <th>
            Alumno
        </th>
        <th>
            Local
        </th>
        <th>
            Escuela Emisora
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Curso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
        <th>
            Costo Total
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Promotor)
        </th>
        <th>
            Fecha Ingreso
        </th>
        <th>
            Fecha Reporte
        </th>
        <th>
            Observaciones
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MatriculaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlumnoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EscuelaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EscuelaEmisora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Curso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostoTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Promotor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FecIngreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FecReporte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacion)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@

        <td>
            <div class="btn-group">
                <button title="Acción" class="btn dropdown-toggle btn-xs" data-toggle="dropdown">
                    <span><i class="glyphicon glyphicon-cog"></i><span class="caret"></span> </span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href=@Url.Action("Editar", "Matriculas", new {  id = item.MatriculaId })>
                        <i class="glyphicon glyphicon-edit"></i>&nbsp;Editar</a>
                    </li>
                    <li>
                        @**@
                        <a href=@Url.Action("Eliminar", "Matriculas", new { id = item.MatriculaId })>
                            <i class="glyphicon glyphicon-remove">
                            </i>&nbsp;Eliminar
                        </a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
}

</table>
