﻿@model ProyectoSIGEM.Areas.Externa.Models.BuscaMatriculasViewModel



@using (Ajax.BeginForm("ConsultarMatriculasPub", "AlumnoPub", new AjaxOptions
{
    HttpMethod = "Get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "AlumnoPubListContainer"
}, new
{
    id = "ConsultarMatriculasPubForm",
    @class = "form-horizontal"
}))
{
    <div class="form-group col-sm-10">
        <input type="text" placeholder="Ingresar documento de identidad..."
               name="Busqueda" class="form-control" value="@Model.Busqueda" />
    </div>
    <div class="col-sm-2">
        <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-search"></i></button>
    </div>

}
<div id="AlumnoListContainer">

</div>
<div id="RenuevaModalFormContainer" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="checkInFormLabel" aria-hidden="True"></div>
@section Scripts {
    @Scripts.Render("~/bundles/unobtrusive")
}
