﻿@model IEnumerable<ProyectoSIGEM.Areas.Interna.Models.EscuelasListaViewModel>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            <div class="btn-group">
                <button title="Acción" class="btn dropdown-toggle btn-xs" data-toggle="dropdown">
                    <span><i class="glyphicon glyphicon-cog"></i><span class="caret"></span> </span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href=@Url.Action("Editar", "Escuelas", new {  id = item.EscuelaId })><i class="glyphicon glyphicon-edit"></i>&nbsp;Editar</a>
                    </li>
                    <li>
                        @**@
                        <a href=@Url.Action("Eliminar", "Escuelas", new { id = item.EscuelaId })>
                            <i class="glyphicon glyphicon-remove">
                            </i>&nbsp;Eliminar
                        </a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
}

</table>
