﻿@model ProyectoSIGEM.Areas.Interna.Models.BuscaEscuelasViewModel
<h2>Escuelas</h2>

<div>
    @Html.ActionLink("Registrar Nueva Escuela", "Nuevo", "Escuelas", new { area = "Interna" }, null)
</div>

<br />
@using (Ajax.BeginForm("ConsultarEscuelas", "Escuelas", new AjaxOptions
{
    HttpMethod = "Get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "EscuelaListContainer"
}, new
{
    id = "ConsultarEscuelasForm",
    @class = "form-horizontal"
}))
{
    <div class="form-group col-sm-10">
        <input type="text" placeholder="Buscar Escuelas..."
               name="Busqueda" class="form-control" value="@Model.Busqueda" />
    </div>
    <div class="col-sm-2">
        <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-search"></i></button>
    </div>

}
<div id="EscuelaListContainer">
    @if (Model.Escuelas.Any())
    {
        @Html.Partial("_ListaEscuelas", @Model.Escuelas)
    }
</div>
<div id="RenuevaModalFormContainer" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="checkInFormLabel" aria-hidden="True"></div>
@section Scripts {
    @Scripts.Render("~/bundles/unobtrusive")
}


